@import "../base/variables";

.cabecera {
    background: linear-gradient(to top, grey 0%, white 70%, white 70%);
    display: flex; // convertimos la cabecera en un flexbox
    flex-wrap: wrap; // utilizamos wrap para que los elementos que no quepan en pantalla pasen a la siguiente linea

    .menus {
        align-items: center; // alineamos de al centro de manera vertical
        display: flex; // convertimos tambien el menu de la cabecera en un flexbox para poder alinear los elementos del interior
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

        .cabeceraBox {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fuente;
            height: 50px;
            width: 200px;
            border-bottom: 1px solid black;
            color: #333; // color del texto.

            transition: transform 0.2s; // duracion de la transicion :hover

            &:hover {
                border-bottom: 3px solid $colorMalva;
            }
        }
    }

    .logobox {

        img {
            width: 150px;
            height: 150px;
        }

        margin: {
            //margenes
            left: 75px;
            top: auto;
            bottom: auto;
        }
    }
}