$precioProducto: "22.45";
$colorGris: "#dae0dc";
$minPantalla: 600px;
$maxPantalla: 1024px;
$tamFijoCard: 150px;
$tamVariableCard: 18vw;
$tamVariableCardExt: 25vw;
$anchoMenuLateral: 20%;
$anchoContenido: 80%;
$colorMalva: #ffc7de;
$colorFiltro: #ccf8ff;
$fuente: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
$blur-effect: 5px;